.sprite {
	width: 102px;
	height: 148px;
	margin-top: 40px;
}

.right {
	background-image: url(/img/pkmn/bulbasaur/bulbaStanding.png);
}

.left {
	background-image: url(/img/pkmn/bulbasaur/bulbaStandingLeft.png);
}

.walk-right {
	background-image: url(/img/pkmn/bulbasaur/bulbaWalkRight.png);
	-webkit-animation: walk 0.9s steps(6) infinite;
	-moz-animation: walk 0.9s steps(6) infinite;
	-ms-animation: walk 0.9s steps(6) infinite;
	-o-animation: walk 0.9s steps(6) infinite;
	animation: walk 0.9s steps(6) infinite;
}

.walk-left {
	background-image: url(/img/pkmn/bulbasaur/bulbaWalkLeft.png);
	-webkit-animation: walk .9s steps(6) infinite;
	-moz-animation: walk .9s steps(6) infinite;
	-ms-animation: walk .9s steps(6) infinite;
	-o-animation: walk .9s steps(6) infinite;
	animation: walk .9s steps(6) infinite;
}

/* @-webkit-keyframes walk {
	from { background-position: 0px; }
	to { background-position: -612px; }
}
@-moz-keyframes walk {
	from { background-position: 0px; }
	to { background-position: -612px; }
}
@-ms-keyframes walk {
	from { background-position: 0px; }
	to { background-position: -612px; }
}
@-o-keyframes walk {
	from { background-position: 0px; }
	to { background-position: -612px; }
}
@-keyframes walk {
	from { background-position: 0px; }
	to { background-position: -612px; }
} */

#bulbaInnerCont {
    width: 85%;
    height: 90%;
	margin: auto;
	
}

#pokeCutieB{
	width: 30%; 
	margin-top: 220px; 
	margin-left: 35%;
	
}

.container{
	position: fixed;
	top: 30%;
	left: 60%;
	transform: translate(-50%, -50%);
	width: 90%;
}

#play {
	position: absolute;
	top: 50px;
}

#potion {
	position: absolute;
	top: 160px;
}

#feed {
	position: absolute;
	top: 130px;
	right: 0;
}

#groom {
	position: absolute;
	top: 160px;
	right: 0;
}